[submodule "XasCode"]
	path = XasCode
	url = git@github.com:XasWorks/XasCode.git
[submodule "tef-FurComs"]
	path = tef-FurComs
	url = git@github.com:TheElectricFursuits/tef-FurComs.git
[submodule "tef-synth-animation"]
	path = tef-synth-animation
	url = git@github.com:TheElectricFursuits/tef-synth-animation.git
[submodule "tef-led-magic"]
	path = tef-led-magic
	url = git@github.com:TheElectricFursuits/tef-led-magic.git
