#JSGF V1.0;
grammar MainControl;

<meme> = %{memes};
<group> = %{groups};

<group_list> = <group> [and <group_list>];

public <commandSequence> = <meme> [from <group_list>] | select groups <group_list>
	| kill sounds;
