#JSGF V1.0;
grammar MainControl;

<meme> = %{memes};
<group> = %{groups};

<group_list> = <group> [and <group_list>];

<core_command> = ambiance level (silent | one | two | three | four);

public <commandSequence> = <meme> [from <group_list>] | select groups <group_list>
	| kill sounds | computer <core_command>;
